@import "tailwindcss";
@font-face {
  font-family: "Khmer OS Battambang";
  src: url("./../public/fonts/KhmerOSbattambang.ttf") format("truetype");
}

body {
  font-family: "Khmer OS Battambang", sans-serif;
}